{% extends 'base.html.twig' %}

{% block title %}Gestion Du Site{% endblock %}
{% block pagetitle %}Gestion du site{% endblock %}

{% block body %}
    <p>je suis dans l'index du bundle admin</p>
{% endblock %}


