@CHARSET "UTF-8";

.search-form
{
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Page de login */
/* Uniquement centrer le formulaire sur la page */
#formLogin
{
    margin: 10% auto;
    width: 60%;
}


/* Liens page de création de sortie */
.createLinks{
    display: inline-block;
}

/* Déclencheur modal "Ajout Lieu" */
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.428571429;
    border-radius: 15px;
}

/* Paramètres modal */
.w3-modal-content{
    max-width: 550px;
}

#lieuModal{
    width:400px;
}

#rueModal{
    width:402px;
}

#closeX{
    font-weight:600;
}

.submitModal{
    display: inline-block;
}

.addSpot{
    display: inline-block;
}

/* Fin */



