@CHARSET "UTF-8";

.search-form
{
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Page de login */
/* Uniquement centrer le formulaire sur la page */
#formLogin
{
    margin: 10% auto;
    width: 60%;
}

/* Page de création de sortie */

.form-group> #sorties_Publier{
    width: 80%;
}

.form-group> #sorties_Annuler{
    width: 80%;
}

.form-group> #sorties_Enregistrer{
    width: 80%;
}

#buttons{
    text-align: center;
}



/* Déclencheur modal "Ajout Lieu" */
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.428571429;
    border-radius: 15px;
}

/* Paramètres modal */
.w3-modal-content{
    max-width: 550px;
}

#lieuModal{
    width:400px;
}

#rueModal{
    width:402px;
}

#closeX{
    font-weight:600;
}

.submitModal{
    display: inline-block;
}

.addSpot{
    display: inline-block;
}

/* Page updateCity et updateSite */
#formUpdateSite, #formUpdateCity
{
    margin: 10% auto;
    width: 60%;
}

/* Page deleteCity et deleteSite */
#formDeleteCity, #formDeleteSite
{
    margin: 10% auto;
    text-align: center;
}

/* Page mon profil */
#titleProfil
{
    margin: 2% auto;
    text-align: center;
}

/* Photo de profil */
#photoProfil
{
    margin-left: 5%;
}

/* Boutons du profil */
#btnsMyProfil
{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

#btnAnnuler, #appbundle_participant_enregistrer
{
    margin-bottom: 1%;
    width: 30%;
}

/*.btn-info
{
    margin-left: 1%;
}*/

/* Fin */