{% extends 'base.html.twig' %}

{% block title %}Erreur 403{% endblock %}
{% block pagetitle %}Erreur 403{% endblock %}

{% block body %}
    <h1>Accès interdit</h1>

    <p>
        La page demandée n'est pas accessible...vous n'avez pas les droits.
        <a href="{{ path('homepage') }}">Retour à la page d'accueil</a>.
    </p>
{% endblock %}