{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Gestion Du Site{% endblock %}
{% block pagetitle %}Gestion du site{% endblock %}

{% block body %}
    <p>Etes vous sur de vouloir supprimer le compte de {{ participant.username }}?</p>

    {{ form(form) }}

    <div><a href="{{ path('admin_listUser') }}">Retour</a></div>

{% endblock %}