{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}
    <h1>Ville</h1>

    <table>
        <tbody>
        <tr>
            <th>Nom</th>
            <th>Codepostal</th>
        </tr>
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.nom }}</td>
                    <td>{{ ville.codePostal }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}